<!DOCTYPE html>
<html>
<head>
	<style>
	#id_first_name{
		margin-bottom: 14px;
		margin-top: 14px;
	}
	#id_last_name{
			margin-bottom: 14px;
	}
	#id_email{
			margin-bottom: 14px;
	}
	#id_faculty{
			margin-bottom: 14px;
	}
	#id_department{
			margin-bottom: 14px;
	}
	#id_password1{
			margin-bottom: 14px;
	}
	#id_password2{
			margin-top: 14px;
	}
	input {
	  border: 1px solid transparent;
	  background-color: #f1f1f1;
	  padding: 10px;
	  font-size: 16px;
	}
	input[type=text] {
	  background-color: #f1f1f1;
	  /* width: 100%;  affects timepicker alignment negatively*/
	}
	input[type=submit] {
	  background-color: DodgerBlue;
	  color: #fff;
	}
	input[type=password] {
	  background-color: #f1f1f1;
	  width: 100%;
	}
	.form-control-items {
	  position: absolute;
	  border: 1px solid #d4d4d4;
	  border-bottom: none;
	  border-top: none;
	  z-index: 99;
	  /*position the autocomplete items to be the same width as the container:*/
	  top: 100%;
	  left: 0;
	  right: 0;
	}
	.form-control-items div {
	  padding: 10px;
	  cursor: pointer;
	  background-color: #fff;
	  border-bottom: 1px solid #d4d4d4;
	}
	.form-control-items div:hover {
	  /*when hovering an item:*/
	   background-color: #e9e9e9;
	}
	.form-control-active {
	  /*when navigating through the items using the arrow keys:*/
	  background-color: DodgerBlue !important;
	  color: #ffffff;
	}
	</style>

	{% block title %}
	<title></title>

	{% endblock %}

{% load static%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/mdb.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/sidenav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'bootstrap/css/login.css' %}">
{% comment %} <link rel="stylesheet" type="text/css" href="{%  static 'bootstrap/css/animate.min.css' %}"> {% endcomment %}



<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">

<!-- Custom fonts for this template -->
<!-- <link href="../../static/bootstrap/css/all.min.css" rel="stylesheet"> -->
<!-- <link href="{% static 'bootstrap/css/landing_simple-line-icons.css' %}" rel="stylesheet" type="text/css"> -->

<!-- Custom styles for this template -->
<link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{%  static 'css/form.css' %}">


{% comment %} <link rel="stylesheet" href="{%  static "bootstrap/css/main.css" %}"> {% endcomment %}

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{%  static 'bootstrap/css/main.css' %}">
<link rel="stylesheet" href="{%  static 'bootstrap/css/sidebar.css' %}">
<link rel="stylesheet" href="{%  static 'bootstrap/css/datepicker.css' %}">



<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato|Ubuntu' rel='stylesheet' type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js" rel="stylesheet" type="text/css">


	<!-- <div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'home' %}">Authentication App</a> -->

<style>
	.nactive{
		margin-left: 250px;
	}
</style>



</head>
<body>
			{% if user.is_authenticated %}

								<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary nactive" id="navmenu">
									<button type="button" id="sidebarCollapse" class="btn btn-info" style="margin-left: -16px;">
										<i class="fa fa-align-justify"></i>

									</button>
					  <a class="navbar-brand" href="{% url 'home' %}">E-NoticeBoard Portal</a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>


					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					    <ul class="navbar-nav ml-auto">
					        <a class="nav-link" href="{% url 'logout' %}"> <b> Logout </b></a>
					      </li>


			 {% else %}

											 <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
									 <a class="navbar-brand" href="#">E-NoticeBoard Portal</a>
									 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										 <span class="navbar-toggler-icon"></span>
									 </button>

									 <div class="collapse navbar-collapse" id="navbarSupportedContent">
										 {% comment %} <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
										   Dropdown <span class="caret"></span>
										  </button> {% endcomment %}

										 <ul class="navbar-nav ml-auto">
											 <li class="nav-item">
												 <a class="nav-link" href="{% url 'home' %}"> <b>Home </b></a>


																	<li class="nav-item">
													        <a class="nav-link" href="{% url 'login' %}"> <b>Login </b></a>
																	</li>




										      </li>
													{% comment %} <li class="nav-item">
										        <a class="nav-link" href="{% url 'signupstudent' %}"> <b> Register </b></a>
										      </li> {% endcomment %}
										    </ul>


			<!--/.Navbar-->


			{% endif %}

</div>
</nav>





			{% if user.is_authenticated %}
	<!-- SideNav slide-out button -->
	<!-- Sidebar -->

	<!-- Sidebar -->

	<div class="wrapper">
	<!-- Sidebar -->
	<nav id="sidebar">
			{% comment %} <div class="sidebar-header">
					<h3>Bootstrap Sidebar</h3>
			</div> {% endcomment %}

			<ul class="list-unstyled components">
					<p> <b>E-NoticeBoard Portal</b> </p> <br/>
					{% if user.is_dean or user.is_cod %}
					<li>
							<a href="{% url 'createnotice' %}">Create Notice</a>
					</li>

					<li>
							<a href="{% url 'viewfeedback' %}">Suggestion Box</a>
					</li>
					{% endif %}

					{% if user.is_student %}


					<li class="active">
							<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">View Notices</a>
							<ul class="collapse list-unstyled" id="homeSubmenu">
									<li>
											<a href="{% url 'view_notices' %}">Faculty</a>
									</li>

									<li>
											<a href="{% url 'department_notices' %}">Department</a>
									</li>
									<li>
											<a href="#">Accommodation</a>
									</li>
							</ul>
					</li>

					<li>
							<a href="{% url 'search' %}">Search Notices</a>
					</li>
					<li>
							<a href="{% url 'feedback' %}">Give Feedback</a>
					</li>



					<li>
							<a href="#">Contact</a>
					</li>
					{% endif %}
					<li>
							<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
							<ul class="collapse list-unstyled" id="pageSubmenu">
									<li>
											<a href="{% url 'viewprof' %}">View</a>
									</li>
									<li>
											<a href="{% url 'edit_profile' %}">Edit</a>
									</li>
									<li>
											<a href="{% url 'change_password' %}">Change Password</a>
									</li>
							</ul>
					</li>

			</ul>
	</nav>

</div>


<br/><br/><br/>

<!--/. Sidebar navigation -->

{% comment %}
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>
</div> {% endcomment %}


	   {% endif %}




	{% block content %}

	{% endblock %}

	 <footer class="page-footer font-small blue">

	   <!-- Copyright -->
	   <footer class="text-center footer-copyright py-1 navbar-dark white-text fixed-bottom" style="background-color: #808080">© 2019 Copyright:
	     <a href="#"> E-NoticeBoard.com</a>
	   </div>
	   <!-- Copyright -->

	 </footer>
	 <!-- Footer -->



	 {% comment %} <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> {% endcomment %}

	 <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/popper.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/mdb.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/form.js' %}"></script>
	 <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	 <link rel="stylesheet" href="/resources/demos/style.css">
{% comment %} <script src="https://code.jquery.com/jquery-1.12.4.js"></script> {% endcomment %}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

					 <script type="text/javascript">
				$(document).ready(function () {
				    $('#sidebarCollapse').on('click', function () {
				        $('#sidebar').toggleClass('active');
								$('#navmenu').toggleClass('nactive');
				    });
				});
				</script>

								<script>
								$( function() {
									$( "#from1" ).datepicker({
											dateFormat: "yy-mm-dd",
											maxDate: 0,
											constrainInput: true,
									});
								} );
								</script>

								<script>
								$( function() {
									$( "#id_due_date" ).datepicker({
											dateFormat: "yy-mm-dd",
											constrainInput: true,
											minDate: 0,
									});
								} );
								</script>

								<script>
								$( function() {
									$( "#to1" ).datepicker({
											dateFormat: "yy-mm-dd",
											constrainInput: true,
									});
								} );
								</script>


								<script>
								var faculties = ["Faculty of Agriculture","Faculty of Arts and Sciences","Faculty of Commerce","Faculty of Education and Community Studies","Faculty of Engineering and Technology",
								"Faculty of Environment and Resource Development", "Faculty of Health Sciences","Faculty of Law","Faculty of Science","Faculty of Veterinary Medicine and Surgery","Institute of Women Gender and Development Studies",
							"College of Open and Distance Learning","Directorates"];
								var departments = ["Department of Economics","Department of Languages, Literature and Linguistics","Department of Peace Security and Social Studies","Department of Philosophy, History and Religion",
																	 "Department of Business Administration; housing the disciplines of Human Resource Management, Marketing, Insurance and Strategic Management","Department of Accounting, Finance and Managemen","Department of Operation Research and Information Systems",
																 "Agricultural Education and Extension","Applied Community and Development Studies","Psychology, Counseling and Educational Foundations and Curriculum","Instruction and Educational Management",
																  "Agricultural Engineering (AGEN)","Civil and Environmental Engineering (CEEN)","Industrial and Energy Engineering (IEEN)","Electrical and Control Engineering (ECEN)",
																"Department of Environmental Science","Department of Geography","Department of Natural Resources",
																"Department of Botany","Department of Zoology","Department of Computer Science","Department of Mathematics","Department of Physics and Chemistry"];
								</script>




							<script>
							function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
							</script>


							<script>
								autocomplete(document.getElementById("id_faculty"), faculties);
								autocomplete(document.getElementById("id_department"), departments);
							</script>



</body>



</html>
