<!DOCTYPE html>
<html>
<head>
	<style>
	#id_first_name{
		margin-bottom: 14px;
		margin-top: 14px;
	}
	#id_last_name{
			margin-bottom: 14px;
	}
	#id_email{
			margin-bottom: 14px;
	}
	#id_faculty{
			margin-bottom: 14px;
	}
	#id_department{
			margin-bottom: 14px;
	}
	#id_password1{
			margin-bottom: 14px;
	}
	#id_password2{
			margin-top: 14px;
	}
	</style>
	{% block title %}
	<title></title>

	{% endblock %}

{% load static%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/mdb.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/sidenav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/login.css' %}">
<link rel="stylesheet" type="text/css" href="{%  static 'bootstrap/css/login.css' %}">



<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">

<!-- Custom fonts for this template -->
<!-- <link href="../../static/bootstrap/css/all.min.css" rel="stylesheet"> -->
<!-- <link href="{% static 'bootstrap/css/landing_simple-line-icons.css' %}" rel="stylesheet" type="text/css"> -->

<!-- Custom styles for this template -->
<link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{%  static 'css/form.css' %}">


{% comment %} <link rel="stylesheet" href="{%  static "bootstrap/css/main.css" %}"> {% endcomment %}

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{%  static 'bootstrap/css/main.css' %}">
<link rel="stylesheet" href="{%  static 'bootstrap/css/sidebar.css' %}">
<link rel="stylesheet" href="{%  static 'bootstrap/css/datepicker.css' %}">





<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato|Ubuntu' rel='stylesheet' type='text/css'>


	<!-- <div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'home' %}">Authentication App</a> -->

<style>
	.nactive{
		margin-left: 250px;
	}
</style>
</head>
<body>
			{% if user.is_authenticated %}

								<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary nactive" id="navmenu">
									<button type="button" id="sidebarCollapse" class="btn btn-info" style="margin-left: -16px;">
										<i class="fa fa-align-justify"></i>

									</button>
					  <a class="navbar-brand" href="{% url 'home' %}">E-NoticeBoard Portal</a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>


					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					    <ul class="navbar-nav ml-auto">
					      {% comment %} <li class="nav-item active">
					      <b>  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></b>
					      </li> {% endcomment %}
					      <li class="nav-item">
					        <a class="nav-link" href="{% url 'logout' %}"> <b> Logout </b></a>
					      </li>


			 {% else %}

											 <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary">
									 <a class="navbar-brand" href="#">E-NoticeBoard Portal</a>
									 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										 <span class="navbar-toggler-icon"></span>
									 </button>

									 <div class="collapse navbar-collapse" id="navbarSupportedContent">
										 <ul class="navbar-nav ml-auto">
											 <li class="nav-item active">
												 <a class="nav-link" href="{% url 'home' %}"> <b>Home </b> <span class="sr-only">(current)</span></a>


													<li class="nav-item">
										        <a class="nav-link" href="{% url 'login' %}"> <b>Login </b></a>
										      </li>
													<li class="nav-item">
										        <a class="nav-link" href="{% url 'signupstudent' %}"> <b> Register </b></a>
										      </li>
										    </ul>


			<!--/.Navbar-->


			{% endif %}

</div>
</nav>






	{% if user.is_authenticated %}
	<!-- SideNav slide-out button -->
	<!-- Sidebar -->

	<!-- Sidebar -->

	<div class="wrapper">
	<!-- Sidebar -->
	<nav id="sidebar">
			{% comment %} <div class="sidebar-header">
					<h3>Bootstrap Sidebar</h3>
			</div> {% endcomment %}

			<ul class="list-unstyled components">
					<p> <b>E-NoticeBoard Portal</b> </p> <br/>
					<li class="active">
							<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">View Notice</a>
							<ul class="collapse list-unstyled" id="homeSubmenu">
									<li>
											<a href="#">Administration</a>
									</li>
									<li>
											<a href="#">Faculty</a>
									</li>
									<li>
											<a href="#">Department</a>
									</li>
									<li>
											<a href="#">Accommodation</a>
									</li>
							</ul>
					</li>
					<li>
							<a href="{% url 'search' %}">Search Notices</a>
					</li>
					<li>
							<a href="{% url 'feedback' %}">Give Feedback</a>
					</li>
					<li>
							<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
							<ul class="collapse list-unstyled" id="pageSubmenu">
									<li>
											<a href="{% url 'viewprof' %}">View</a>
									</li>
									<li>
											<a href="{% url 'edit_profile' %}">Edit</a>
									</li>
									<li>
											<a href="{% url 'change_password' %}">Change Password</a>
									</li>
							</ul>
					</li>

					<li>
							<a href="#">Contact</a>
					</li>
			</ul>
	</nav>

</div>


<br/><br/><br/>

<!--/. Sidebar navigation -->

{% comment %}
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>
</div> {% endcomment %}


	{% endif %}


	<div class="container" style="width:700px;">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
					<button class="close" data-dismiss="alert">
				<!--  <span aria-hidden="true">&times;</span>  -->
						<small><sup>x</sup></small>

					</button>
						<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">

		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div> -->




					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
</div>

	{% block content %}

	{% endblock %}

	 <footer class="page-footer font-small blue">

	   <!-- Copyright -->
	   <footer class="text-center footer-copyright py-1 navbar-dark white-text fixed-bottom" style="background-color: #808080">© 2019 Copyright:
	     <a href="#"> E-NoticeBoard.com</a>
	   </div>
	   <!-- Copyright -->

	 </footer>
	 <!-- Footer -->



	 {% comment %} <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> {% endcomment %}

	 <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/popper.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/mdb.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	 <script type="text/javascript" src="{% static 'bootstrap/js/form.js' %}"></script>
	 <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	 <link rel="stylesheet" href="/resources/demos/style.css">
{% comment %} <script src="https://code.jquery.com/jquery-1.12.4.js"></script> {% endcomment %}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

					 <script type="text/javascript">


				$(document).ready(function () {

				    $('#sidebarCollapse').on('click', function () {
				        $('#sidebar').toggleClass('active');
								$('#navmenu').toggleClass('nactive');

				    });

				});

				</script>

								<script>
								$( function() {
									$( "#from1" ).datepicker({

											dateFormat: "yy/mm/dd",
											maxDate: 0,

									});
								} );
								</script>

								<script>
								$( function() {
									$( "#to1" ).datepicker({

											dateFormat: "yy/mm/dd",
											maxDate: 0,


									});
								} );
								</script>



</body>



</html>
