{% extends 'authenticate/base.html' %}

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<main class="mdl-layout__content mdl-color--grey-100">
	<div class="mdl-grid demo-content">
		<div class="container-fluid">
  
			<div class="row">
				<div class="col-md-8 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
							<h4 class="card-title">Edit Profile</h4>
						</div>
						   <div class="card-body">
						<div class="container">
	<form method="POST" action="{% url 'edit_profile' %}">
		{% csrf_token %}
		{% if form.errors %}

		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <!-- <strong class="text-center" >Please Enter Valid Details.</strong> -->
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
				<!-- <p class="text-center text-danger"> Registration Failed!Please Enter Valid Details. </p> -->
				{% for field in form %}
					{% if field.errors %}
					{% endif %}
						{{ field.errors}}
				{% endfor %}


		</div>


		{% endif %}
	</div>
</div>
<div class="row">
  <div class="container col-md-4 offset-md-4 d-dlex flex-fill text-center text-black align-items-center">

		{{ form | crispy }}

    <div class="form-group">
       <label class="col-md-4 control-label" for="singlebutton"></label>
       <div class="col-md-5 center-block">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block">
            Save
           </button>
       </div>
    </div>

	</form>
		<p><small><a href="{% url 'change_password' %}"><i>Click Here To Change Your Password </i></a></small></p>
	</div>

</div>
</div>
</div>
</div>
</div>
</div>
</main>
</br></br>
{% endblock %}
