
{% extends 'authenticate/base.html' %}


<!-- <h2 class="text-center" style = "margin-top:200px"> <b> Some contents of landing page... </b></h2> -->

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}



{% block content %}


<div class="container" style="width:700px;">

</div>
<div class="row">
  <div class="col col-md-7 offset-md-3">


    <table class="table">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Posted on</th>
          <th>Due date</th>
          <th>Details</th>
          <th>Notice level</th>
        </tr>
      </thead>
      <tbody>

        {% for notice in notices %}
        {% if notice.posted_by.faculty == user.faculty %}

          <tr>
            <td>{{ notice.topic }}</td>
            <td>{{ notice.created_on }}</td>
            <td> {{ notice.due_date }}</td>
            <td>{{ notice.notice }}</td>

              <td>{{ notice.posted_by.faculty }},{{notice.posted_by.department }}</td>


            <td><a href="{% url 'read_notice_details' notice.id%}" class="btn btn-primary btn-sm">Read Details</a></td>

          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>



  </div>

</div>
{% endblock content%}
