
{% extends 'authenticate/base.html' %}
{% load staticfiles %}


<!-- <h2 class="text-center" style = "margin-top:200px"> <b> Some contents of landing page... </b></h2> -->

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}



{% block content %}


<div class="row">
  <!-- <div class="col col-md-7 offset-md-3"> -->

    <div class="col-md-8 offset-md-3">
      <div class="card">
            <div class="card-header">

                <h4 class="card-title text-center">Faculty Notices</h4>


                </div>
<div class="card-body">
{% if count > 0 %}
 <a href="{% url 'unread_view_notices' %}" class="btn btn-primary btn-sm text-left ml-auto">{{ count }} Unread Notices</a>
 <img src="{% static 'images/info.gif' %}" alt="">
{% endif %}

  {% if not notices  and count < 1%}
        <h5 class="card-title text-center text-danger">No availlable Notices from your Faculty at the moment</h5>
       {% elif not notices and count > 0%}
       <h5 class="card-title text-center text-info">You have {{count}} unread notices, please read them.</h5>
       
        {% else %}
    <table class="table table-hover table-lg">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Posted on</th>
          <th>Expiry date</th>

          {% comment %} <th>Status</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>

      
        {% for notice in notices %}
       
          <tr>
            <td>{{ notice.notices.topic }} </td>
            <td>{{ notice.notices.created_on }}</td>
            <td> {{ notice.notices.due_date }}</td>              
             
              {% comment %} <td> <img src="{% static 'images/info.gif' %}" alt=""> </td> {% endcomment %}
            

            <td><a href="{% url 'read_notice_details' notice.notices.id%}" class="btn btn-primary btn-sm">Read Details</a></td>

          </tr>

        
         
        {% endfor %}
        {% endif %}

        

      </tbody>
    </table>
      </div>


  </div>
  </div>

</div>
<br/><br/>
{% endblock content%}
