
{% extends 'authenticate/base.html' %}


{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}

{% block content %}


<div class="container">

       <div id="form-main">
           <div id="form-div">

               <form class="montform" method="POST" action="{% url 'feedback' %}" id="reused_form" >
                 {%csrf_token %}
                   <p class="name">
                       <select name="type" type="text" class="feedback-input" required placeholder="Type" id="name" >


                     <option value="Suggestion">Suggestion</option>
                     <option value="Comment">Comment</option>
                     <option value="Query">Query</option>
                   </select>
                  </p>


                   <p class="email">
                       <input name="subject" type="subject" required class="feedback-input" id="email" placeholder="Subject" />
                   </p>
                   <p class="text">
                       <textarea name="message" required class="feedback-input" id="comment" placeholder="Message"></textarea>
                   </p>
                   <div class="submit">
                       <button type="submit" class="button-blue">SUBMIT</button>
                       <div class="ease"></div>
                   </div>
               </form>
               <!-- <div id="error_message" style="width:100%; height:100%; display:none; ">
                   <h4>
                       Error
                   </h4>
                   Sorry there was an error sending your form.
               </div> -->

           </div>
       </div>
   </div>
   

 {% endblock%}
