{% extends 'authenticate/base.html' %}
{% load staticfiles %}


<!-- <h2 class="text-center" style = "margin-top:200px"> <b> Some contents of landing page... </b></h2> -->

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_student %}


<div class="row">
 
    <div class="col-md-8 offset-md-3">
      <div class="card">
            <div class="card-header">

                <h5 class="card-title"><i> <b> Welcome </b> {{ user.first_name }} {{ user.last_name }}, {{ user.username }} </i></h5>
              

                </div>
            <div class="card-body">

         <!------MENU SECTION START-->

<!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line"> Student Dashboard</h4>
                
                
                            </div>
                            <br/>
                            

        </div>
        <br/>
        <br/>
             
             <div class="row">



            
                 <div class="col-md-6 col-sm-3 col-xs-6">
                      <div class="alert alert-info back-widget-set text-center">
                      
                       <br/>
                            
     <h4> Faculty Notices</h4>
     <br/>
     
                              
 
 {% if faccount_unread > 0 %}
<a href="{% url 'unread_view_notices' %}" class="btn btn-primary btn-lg text-left ml-auto"> <b class ="text-warning"> {{ faccount_unread }} </b> Unread Notices</a>
 <img src="{% static 'images/info.gif' %}" alt="">
 <br/>
 <br/>


{% else %}
<i class="fa fa-bars fa-5x"></i>
<h5 class="card-title text-center text-info">No New Notice Availlable</h5>
       
{% endif %}


                    
                        </div>
                    </div>
             
               <div class="col-md-6 col-sm-4 col-xs-6">
                      <div class="alert alert-info back-widget-set text-center">
                            
                            <br/>
                        
                    
                          <h4> Departmental Notices</h4>
                          <br/>

               {% if deptcount_unread > 0 %}
 <a href="{% url 'unread_department_notices' %}" class="btn btn-primary btn-lg text-left ml-auto"> <b class ="text-warning"> {{ deptcount_unread }} </b> Unread Notices</a>
 <img src="{% static 'images/info.gif' %}" alt="">


{% else %}
<i class="fa fa-bars fa-5x"></i>
 <h5 class="card-title text-center text-info">No New Notice Availlable</h5>
{% endif %}
                        </div>
                    </div>
        </div>


            
    </div>
    </div>

    
  </div>
 

{% else %}

 

    {% endif %}

  {% endblock %}
