{% extends 'authenticate/base.html' %}
{% load staticfiles %}


<!-- <h2 class="text-center" style = "margin-top:200px"> <b> Some contents of landing page... </b></h2> -->

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_dean or user.is_cod %}



<div class="row">
 
    <div class="col-md-8 offset-md-3">
      <div class="card">
            <div class="card-header">

                <h5 class="card-title"><i> <b> Welcome </b> {{ user.first_name }} {{ user.last_name }} </i></h5>
              

                </div>
                 


                     <div class="card-body">

         <!------MENU SECTION START-->

<!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line"> Staff Dashboard</h4>
                
                            </div>

        </div>
        <br/>
         <br/>
             
              <div class="row">



            
                 <div class="col-md-5 col-sm-4 col-xs-6">
                      <div class="alert alert-info back-widget-set text-center">
                            
                 <h3 class = "text-info" > Mission</h3>       
             To offer exemplary education to society and generate knowledge for national and global development.
 

                    
                        </div>
                    </div>
             
               <div class="col-md-5 col-sm-4 col-xs-6">
                      <div class="alert alert-info back-widget-set text-center">
                            
                        
                      
                        <h3 class = "text-info" > Vision</h3>
                        Egerton University‘s Vision is to be a world class university for the advancement of humanity.
                        </div>
                    </div>
        </div> 


                
        </div>
        </div>

        
      </div>
      </div>
                      </div>
                   </div>
                   <br/>
                   <br/>
              
  

{% else %}



    {% endif %}

  {% endblock %}
