{% extends 'authenticate/base.html' %}


<!-- <h2 class="text-center" style = "margin-top:200px"> <b> Some contents of landing page... </b></h2> -->

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h3 class="text-center" style = "margin-top:200px"> <b> Welcome {{ user.first_name }} {{ user.last_name }} </b></h3>

{% else %}

  <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-5">View the Departmental And Faculty Announcements from the Comfort of your Zone!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Easy Acess</h3>
              <p class="lead mb-0">View the Departmental And Faculty Announcements just from anywhere using your computer or phone!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3></h3>
              <p class="lead mb-0"> </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">Simply create an account, login and you are ready to view the content!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../static/images/accessible.gif');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Smooth mode of Communication</h2>
            <p class="lead mb-0">Avoid unorganized and hard way of accessing Notices!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../static/images/image00_grande.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Staleness and Non-Portability</h2>
            <p class="lead mb-0">Newly improved way of viewing Notices! All Notices Accessible by Just Loging in!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../static/images/laten.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Easy to Use</h2>
            <p class="lead mb-0">Simply create an account, login and you are ready to view the content!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? <a href="#"><h2>Sign up now!</h2></a></h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
               <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About Us</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact Us</a>
              </li>

            </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% endif %}

  {% endblock %}
