{% extends 'authenticate/base.html' %}


<!-- <h2 class="text-center" style = "margin-top:200px"> <b> Some contents of landing page... </b></h2> -->

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


 <h4 class="text-center"><strong>Search Department Notices by Due Date</strong></h4>
<div style="margin-left:390px;">
    <br>
    <form class="form-inline active-cyan-3 active-cyan-4" action="{% url 'searchdept' %}" method="get">
        
        <input class="form-control form-control-lg ml-3 w-15" type="text" id= "from1" value="2019-06-28" name="from" placeholder="From" autocomplete="off" readonly="readonly" required>

        
        <input class="form-control form-control-lg ml-3 w-10" type="text" value="2019-06-28" name="to" placeholder="To" id="to1" autocomplete="off" readonly="readonly" required >
        <div style="margin-left:7px;">
        <i class="fas fa-search" aria-hidden="true"></i>
      </div>
       


    <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>


    </form>
    </div>
    <br/>

    <div class="row">
        <!-- <div class="col col-md-7 offset-md-3"> -->
      
          <div class="col-md-8 offset-md-3">
            <div class="card">
                  <div class="card-header">
      
                      <h4 class="card-title text-center"> Notices</h4>
      
      
                      </div>

        {% if notices_available %}
        <div class="container">
        
             
            <div class="card-body">


                <table class="table table-hover table-lg">
       
                  <thead class="thead-blue">
                    <tr>
                      <th>Topic</th>
                      <th>Posted On</th>
                      <th>Due Date</th>
                      </tr>
                  </thead>
                    <tbody>
            {% for notic in notices_available %}
            <tr>
                <td>{{ notic.topic }} </td>
                <td>{{ notic.created_on }}</td>
                <td> {{ notic.due_date }}</td>
                <td><a href="{% url 'read_searchdept_details' notic.id %}" class="btn btn-primary btn-sm">Read Details</a></td>
            </tr>
            {% endfor %}
  
                  </tbody>
                  
                </table>
                
            </div>
            
            
        {% endif %}
      </div>
        </div>
  <br/> <br/>
   

{% endblock content%}
