
{% extends 'authenticate/base.html' %}
{% load staticfiles %}


{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}




{% block content %}

<div class="row">


    <div class="col-md-8 offset-md-3">
<div class="card">
  <div class="card-header text-center">

   Department of {{ search.posted_by.department }} Notice 
  </div>
  <div class="card-body">
    From COD
    <hr>
    <h5 class="h5 mt-4"><strong> Date Posted</strong></h5>
    <p class="h6"> {{ search.created_on }}</p>
    <h5 class="h5 mt-4"><strong>About</strong></h5>
    <p class="h6"> {{ search.topic }}</p> 
    <h5 class="h5 mt-4"><strong>Notice</strong></h5>
    <p class="h6"> {{ search.notice }}</p>
    <h5 class="h5 mt-4"><strong>Due Date</strong></h5>
    <p class="h6"> {{ search.due_date }}</p>
     <br/>
  </div>

</div>
</div>

</div>
{% endblock %}
