{% extends 'authenticate/base.html' %}

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container py-3">
        <div class="row">
            <div class="col-10 offset-md-2">

                <div class="accordion" id="faqExample">
                    <div class="card">
                        <div class="card-header text-center p-3" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 <b>E-NoticeBoard Help page</b> 
                                </button>
                              </h5>
                        </div>
    
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                            <div class="card-body">
                                <b>E-Noticeboard system</b>  facilitates communication from the faculty representative (Dean) and the departmental representative (COD) to the students.                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center p-2" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Registration
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                            <div class="card-body">
                                The user's accounts are created by the system administrator.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center p-2" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  How to Log In ?
                                </button>
                              </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                            <div class="card-body">
                               You  log in using your username.
                                On your first login, ensure you change the password using the Profile link provided on the tap 'change password' under 'Profile'.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header text-center p-2" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                  How to Create Notices ?
                                </button>
                              </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                            <div class="card-body">
                                Upon logging in, you will be redirected to the dashboard which contains static data concerning the institution mission. You can then use the ‘create notice’ link to create a notice if there is a need.
                                 The notice will contain the topic of the notice, the message of the notice itself and the due date which they will set and this date will be the expiry date of the notice upon which on arrival of this date, 
                                 the notice will no longer be displayed on the website. You will they click ‘create’ to post the notice and will then be displayed a success message.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                            <div class="card-header text-center p-2" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                     What is a Suggestion Box ?
                                    </button>
                                  </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                                <div class="card-body">
                                   
                                    The suggestion box link provided on the sidebar will be used to view the feedbacks from the students within the faculty or department. 
                                    These feedbacks are essentially suggestions but can be in the form of a query, comment or suggestion on how the services can be improved.
                                    They can as well be complains.
                                     You can search suggestions within a specifid range period using the dates in the search field.
                                </div>
                            </div>
                        </div>


                        <div class="card">
                                <div class="card-header text-center p-2" id="headingSix">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                         Profile
                                        </button>
                                      </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                                    <div class="card-body">
                                        You will be required to update your email and change your password only in the profile menu.
                                        The ‘profile' link on the sidebar which will allow them to view their profile. You will also edit your email address only using the edit tab under profile.
                                        Moreover, the students can also change or update their password using the ‘change password’ link.
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                            <div class="card-header text-center p-2" id="headingSeven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                     How to Generate Reports ?
                                    </button>
                                  </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqExample">
                                <div class="card-body">
                                    The generate reports link on the sidebar will allow to print reports of notices and suggestions. 
                                    Use the dropdown to select what they want to view and print. 
                                    Seearch the items in a range of date which will be displayed bfore they can decide to generate reports over the same. 
                                    Moreover, they have a number of choices pertaining to the format they can generate the report as either an excel file, CSV, pdf, print or even copy the data displayed. 
                                    They can also rearrange the displayed data as ascending or descending as they may wish to.
                                    Finally, they can also search items using some keyword within this page.
                                </div>
                            </div>
                        </div>
                </div>
    
            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->
    <br/>
    <br/>


{% endblock %}


