
{% extends 'authenticate/base.html' %}
{% block content %}

<!--
<input type="text" class="form-control" name="">
<button type="button" class="btn btn-success"> Success</button> -->

{% if user.is_authenticated %}
<h2 class="text-center" style = "margin-top:100px">Your profile is:</h2>

	<p class="text-center"> Name: {{ user.first_name }} {{ user.last_name }}</p>
	<p class="text-center"> Email: {{ user.email }} </p>
	<p class="text-center"> Faculty: {{ user.faculty }} </p>
	<p class="text-center"> Department: {{ user.department }} </p>

{% endif %}

{% endblock %}
