
{% extends 'authenticate/base.html' %}

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<div class="row">
	<!-- <div class="col col-md-7 offset-md-"> -->
  
	  <div class="col-md-6 offset-md-4">
		<div class="card">
			  <div class="card-header">
  
				  <h4 class="card-title text-center">My Profile</h4>
  
  
				  </div>
  <div class="card-body">
	 <h5 class="h5 mt-4"><strong>UserName:</strong> {{ user.username }}
	<h5 class="h5 mt-4"><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</h5>
	<h5 class="h5 mt-4"><strong>Email:</strong> {{ user.email }} </h5>
	<h5 class="h5 mt-4"><strong>Faculty:</strong> {{ user.faculty }} </h5>
	<h5 class="h5 mt-4"><strong>Department:</strong> {{ user.department }} </h5>

{% endif %}
</div>


</div>
</div>

</div>

{% endblock %}
