
{% extends 'authenticate/base.html' %}
{% load staticfiles %}


<!-- <h2 class="text-center" style = "margin-top:200px"> <b> Some contents of landing page... </b></h2> -->

{% block title %}
<title>E-NoticeBoard</title>

{% endblock %}


{% block content %}

<div class="row">


    <div class="col-md-8 offset-md-3">
<div class="card">
  <div class="card-header">

  Faculty of {{ feedback.sent_by.faculty }}
  </div>
  <div class="card-body">
    From: {{ feedback.sent_by }}
    <hr>
    <h5 class="h5 mt-4"><strong>Type</strong></h5>
    <p class="h6"> {{ feedback.type }}</p>
    <h5 class="h5 mt-4"><strong>About</strong></h5>
    <p class="h6"> {{ feedback.subject }}</p>
    <h5 class="h5 mt-4"><strong>Sent On</strong></h5>
    <p class="h6"> {{ feedback.sent_on }}</p>
    <h5 class="h5 mt-4"><strong>Sent On</strong></h5>
    <p class="h6"> {{ feedback.sent_on }}</p>
  </div>

</div>
</div>

</div>
{% endblock %}
